 <div class="panel panel-primary panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
             Module's files
            </div>
          </div>
        </div>
          <table class="table borderless table-condensed">
            <thead>
              <th>File name</th>
              <th>Repository</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
            <% @stored_files.each do |file| %>
            <tr>
              <td><%= file.name%></td>
              <td><%= file.repo%></td>
              <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, {:controller => :git_hub, :action => :repoTree, :sha => file.sha, :name =>file.name, :type => 'blob' }, {class:"btn btn-primary btn-xs"}%></td>
              <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, {:controller => :git_hub, :action => :deleteFile, :sha => file.sha }, {class:"btn btn-danger btn-xs"}%></td>

            </tr>
            <% end %>
            </tbody>
          </table>

      </div>
 <%= form_tag({controller: "git_hub", action: "exportFiles", format: "xml"}) do %>
    <%= submit_tag("Create module", :class=>'btn btn-primary') %>
<%end%>